*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 100px;
}
.heading {
  font-size: 30px;
  display: flex;
  gap: 10px;
  color: white;
  font-family: sans-serif;
}
.heading .title {
  border-radius: 5px;
  background-color: orangered;
  padding: 0 5px;
}
.content {
  height: 300px;
  width: 500px;
  background-color: white;
  margin-top:10px;
  border-radius: 12px;
}
.a-link {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.a-link input {
  width: 200px;
  height: 30px;
  border-radius: 6px;
}
.domain {
  padding-left: 100px;
}